*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

sup {
	font-size: 15px;
}


ul {
	float: right;
	list-style-type: none;
	margin-top: 0px;
}

ul li {
	display: inline-block;
	font-size: 20px;
	margin-top: 0px;
}

div main {
	font-size: 50px;
}

th1 {
	color: white;
	background-color: orange;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 50px;
}

th2 {
	color: darkblue;
	font-size: 50px;
}

ul li a {
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	font-family: sans-serif;
}

div img {
	max-width: 100%;
	position: cover;
	height: 600px;
	width: 900px;
	alignment-baseline: middle;
	top: 50px;
	border-radius: 50%;
}


ul li.active a{
	border: 1px orange;
	border-radius: 25px;
	background-color: orange;
	padding: 15px 7px 15px 7px;
	color: white;
	margin-right: 20px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	font-size: 15px;
	padding-left: 30px;
	display:inline-block;
}

h1 {
	color: orange;
	font-size: 40px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}

/* Clear floats after the columns /*
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other
instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.column h1 {
	font-size: 25px;
}

.column p {
	font-size: 15px;
}

.column h2 {
	font-size: 25px;
}

h4 {
	color: orange;
}

.button {
	background-color: orange;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	border-radius: 50%;
}







